// Code scaffolded by modular. This file is user-maintained.
package wiring

func WireApplication(platform Platform) (Assembly, error) {
	assembly := Assembly{}
{{BUSINESS_WIRING}}
	return assembly, nil
}
