// Code scaffolded by modular. This file is user-maintained.
package wiring

func WireBusiness(process string, platform Platform) (Contribution, error) {
	contribution := Contribution{}
{{BUSINESS_WIRING}}
	return contribution, nil
}
