// Code scaffolded by modular. This file is user-maintained.
package {{PACKAGE}}

type {{ENTITY}} struct {
{{ENTITY_FIELDS}}
}

func New{{ENTITY}}({{CONSTRUCTOR_PARAMS}}) (*{{ENTITY}}, error) {
{{VALIDATION_AND_CONSTRUCTION}}
}
