// Code scaffolded by modular. This file is user-maintained.
syntax = "proto3";

package {{SVC}};

option go_package = "{{GO_PACKAGE}}";

service {{SERVICE}} {
{{RPC_DECLARATIONS}}
}

{{MESSAGE_DECLARATIONS}}
