// internal/{{SVC}}/api/{{SURFACE}}/http.go - interface surface HTTP adapter.
package {{SURFACE}}

import (
	"net/http"

	"github.com/gin-gonic/gin"

	common "{{GO_PACKAGE}}"
)

func HTTPRoutes(svc common.{{SERVICE_PASCAL}}Server) func(*gin.Engine) {
	return func(router *gin.Engine) {
		// group := router.Group("/api/{{SURFACE}}/{{SVC}}")
		// group.GET("/example", httpserver.Wrap(exampleHandler(svc)))
		_ = svc
	}
}

// var invalidRequest = errs.Define("INVALID_REQUEST", errs.Template("invalid request"))
//
// func exampleHandler(svc common.{{SERVICE_PASCAL}}Server) httpserver.ErrorHandlerFunc {
// 	return func(c *gin.Context) error {
// 		var req common.ExampleRequest
// 		if err := c.ShouldBindJSON(&req); err != nil {
// 			return errs.BadRequest(invalidRequest, errs.WithCause(err))
// 		}
// 		resp, err := svc.Example(c.Request.Context(), &req)
// 		if err != nil {
// 			return err
// 		}
// 		c.JSON(http.StatusOK, resp)
// 		return nil
// 	}
// }

var _ http.HandlerFunc
