package config

import (
	modularconfig "github.com/wplbyx/modular/packages/config"
	"github.com/wplbyx/modular/packages/config/configitem"
)

type Config struct {
	configitem.Application `mapstructure:"application,squash"`
	HTTP                   configitem.HTTP    `mapstructure:"http"`
	GRPC                   configitem.GRPC    `mapstructure:"grpc"`
	Logging                configitem.Logging `mapstructure:"logging"`
}

// Flags 让当前 svc 配置可以继续组合到 single 拓扑的进程级配置中。
func (Config) Flags(prefix string) []modularconfig.FlagSpec {
	return modularconfig.GetConfigFlagSpecsWithPrefix[Config](prefix)
}

func Load(files ...string) (*Config, error) {
	configFile := "./config/{{SVC}}/config.yaml"
	if len(files) > 0 {
		configFile = files[0]
	}

	cfg := new(Config)
	err := modularconfig.InitConfigure(cfg,
		modularconfig.WithConfigFile(configFile, false),
	)
	return cfg, err
}
