module {{PROJECT}}

go {{GO_VERSION}}

require github.com/wplbyx/modular v0.0.0

// Points at the local modular checkout. Edit or remove when publishing.
replace github.com/wplbyx/modular => {{MODULAR_PATH}}
